{% extends 'base.html' %}

{% load static %}

{% block content %}

<p class="text-danger">{{error}}</p>
{% if logs %}
    <h2  class= "text-center">Activity Log</h2>
        <table class="table table-sm table-bordered mx-auto" id='fulltable' >
            <thead>
                <tr>
                    <th>Timestamp</th>
                    <th>User</th>
                    <th>Action</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% for log in logs %}
                <tr>
                    <td>{{ log.timestamp }}</td>
                    <td>{{ log.user.username }}</td>
                    <td>{{ log.action }}</td>
                    <td>{{ log.details }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% endif %}


{% endblock %}