{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container-fluid">
        {% if error_message %}
            <div class="alert alert-danger">
                {{ error_message }}
            </div>
        {% endif %}

        <h2 class="text-center">Projects List</h2>
    
        
        {% if perms.projects.add_projects %}
            <button class="btn btn-primary float-right" id="addProjectBtn" style="padding:5px;margin-right:20px;">Add Project</button>
            <script>
                document.getElementById('addProjectBtn').addEventListener('click', function (e) {
                    e.preventDefault();

                    if (confirm("Do you want to add a new Project?")) {
                        window.location.href = "{% url 'projects:add_project' %}";
                    } else {
                        // Do nothing or redirect to another page if needed
                    }
                });
            </script>
        <br><br>
        {% endif %}
    <table class="table-sm table-bordered mx-auto" id= 'fulltable'>
        <thead>
            <tr>
                <th>P. ID</th>
                <th>P. Name</th>
                <th>Resource</th>
                <th>Image</th>
                <th>Capacity AC</th>
                <th>Capacity DC</th>
                <th>Utility</th>
                <th>Address</th>
                <th>Longitude</th>
                <th>Latitude</th>
                <th>Altitude</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for project_instance in project %}
                <tr>
                    <td>
                        <a href="{% url 'projects:project_details' project_id=project_instance.project_id %}">{{ project_instance.project_id }}</a>
                    </td>
                    <td>{{ project_instance.project_name }}</td>
                    <td>{{ project_instance.resource }}</td>
                    <td>
                        <img src="{{ MEDIA_URL }}{{ project_instance.image }}" alt="{{ project_instance.image }}" style="max-width: 75px; max-height: 75px;">
                    </td>
                    <td>{{ project_instance.capacity_ac }}</td>
                    <td>{{ project_instance.capacity_dc }}</td>
                    <td>{{ project_instance.utility_company }}</td>
                    <td>{{ project_instance.address }}</td>
                    <td>{{ project_instance.longitude }}</td>
                    <td>{{ project_instance.latitude }}</td>
                    <td>{{ project_instance.altitude }}</td>
                    <td>{{ project_instance.created_at }}</td>
                    <td>{{ project_instance.updated_at }}</td>
                    <td>{{ project_instance.user }}</td>
                    <td>
                        {% if perms.projects.change_projects %}
                            <a href="{% url 'projects:edit_project' project_id=project_instance.project_id %}">
                                <img src="{% static 'images/edit.png' %}" alt="Edit" class="img-fluid" style="height: 20px; margin-left: 35%; ">
                            </a>
                        {% endif %}
                    </td>
                    
                </tr>
            {% endfor %}
        </tbody>

    </table>


</div>

{% endblock %}